# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/venv/
.venv/
.idea/
/api/rag_metrics
testdata/
/monitoring.db
scripts/mlartifacts/
scripts/monitoring.db
tests/gen_metrics/mlruns/
logs
.DS_Store
qdrant
__pycache__
